[submodule "client_program"]
	path = client_program
	url = https://github.com/Stvchm9703/unlight-zwie-unity.git

[submodule "script_runner"]
	path = script_runner
	url = https://github.com/Stvchm9703/Unlight-Zwei-ScptRunner.git


[submodule "room_manager"]
	path = room_manager
	# url = 

[submodule "gameduel_manager"]
	path = gameduel_manager


[submodule ""]
